<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
  </head>
  <body ng-app="LunchCheck">
    <div ng-controller="LunchCheckController">
      <div>
        <h1>Lunch Checker</h1><br>
        <div>
          <input type="text"
                  ng-style="box.myStyle"
                      placeholder="list comma separated items you usually eat for lunch"
                        ng-model="list"><br><br>
        <button ng-click="message()">Check If Too Much</button><br>
        </div>
        We DON'T accept empty items.
      </div>
      <div ng-style="msg.style">
          <b>{{result}}</b>
      </div>
    </div>
  </body>
</html>
